/*Authors : Elliot Hanson and Shreya Nair for CS 257 Webapp assignment */
/*Default Style Start*/
html{
   font-family: Verdana, Geneva, sans-serif;
}
body {
  background-color: #94b289;
}

.title_heading{
  color: #FFFAF0;
   text-align: center;
   font-weight: normal;
   margin: 20px;
}


/*Default Style End*/

/*Nav Bar Start*/
.nav_li {
   display: inline-block;

}

.active {
 background-color: #485643;
 color: white;
}

.nav_ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 text-align: center;
 background-color: #687d60;
}


li a {
 display: block;
 color: white;
 text-align: center;
 padding: 20px 100px;
 text-decoration: none;
}

li a:hover {
 background-color: #5c937E;
}
/*Nav Bar End*/

#park_collage{
   display: inline-block;
   max-width: 500px;
   max-height: 500px;
   margin-left: auto;
   margin-right: auto;
}

h3, h4{
   color: #FFFAF0;
   text-align: center;
   font-weight: normal;
}

.description_table{
   display: inline-block;
   padding: 5px;
   border: 2px solid floralwhite;
   vertical-align: top;
   width: 500px;

}
#description_text{
   color: floralwhite;
   word-wrap: break-word;
   font-weight: normal;
}

div{
   padding-left: 50px;
   padding-right: 50px;
}

#left_column{
   display: inline-block;
   width: 500px;
   vertical-align: top;
   float: left;
   padding-left: 50px;
}

#right_column{
   display: inline-block;
   width: 500px;
   vertical-align: top;
   float: right;
   padding-right: 50px;
}

#bio_now {
   display: inline-block;
   padding: 5px;
   border: 2px solid floralwhite;
   vertical-align: top;
   text-align: center;
   color: #FFF5EE;
}

h1{
   color: #FFFAF0;
   text-align: center;
   font-weight: normal;
}

.description_cont{
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF5EE;
    padding : 10px;
}


