/*Authors : Elliot Hanson and Shreya Nair for CS 257 Webapp assignment */
html{
    font-family:Verdana, Geneva, sans-serif;
}
body {
	background-color: #94b289;
}

.text_color {
 	color: #FFF5EE;
}

.title_heading{
    color: #FFFAF0;
    text-align: center;
    font-weight: normal;
    margin: 20px;
}

/* Navigation bar settings */
.navbar_text_disp {
    display: inline-block;

}
.active {
    background-color: #485643;
    color: #fffcfc;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #687d60;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 100px;
  text-decoration: none;
}

li a:hover {
  background-color: #5c937e;
}

.align_center {
	text-align: center;
}

.padded_text {
    padding-left: 50px;
}

/* Navigation bar settings  end */

/* Boxes for image and text */
#results {
    border: 1px solid #FFFAF0;
    width:90%;
    word-wrap: break-word;
    font-weight: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#parks_table {
    font-family:Verdana, Geneva, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #FFF5EE;
}

th, td {
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    text-align: center;
    padding-bottom: 15px;
}

td{
    padding-bottom: 20px;
}




.species_box {
    width: 100px;
    height: 50px;
    position: relative;
    border: 3px outset #FFFAF0;
    background-color:#FFFAF0 ;
    text-align: center;
    font-weight: normal;
    display: block;
}

.yose_img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
/* End of css design for the park and img boxes */

/*Search bar */
#search_bar{
    align-self: center;
    font-weight: normal;
    text-align: center;
}

.search_field{
    width: 200px;
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
}

label{
    color: white;
}

input{
    background-color: #E5E5E5;
    border-radius: 25px;
}

#search_button{
    background-color: #687d60;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    color: #FFF5EE;
    border-color: #FFF5EE;
    border-style: solid;
}

.selector{
    width: 200px;
    word-wrap: break-word;
    text-align: center;
    background-color: #E5E5E5;
    border-radius: 25px;
}
/*Search Bar End*/

#search_button:hover {
    background-color: #485643;
    box-shadow: 0px 0px 0px transparent;
}
h1{
    color: #FFFAF0;
    text-align: center;
    font-weight: normal;
}

/* Datamaps is Copyright (c) 2012 Mark DiMarco
 * https://github.com/markmarkoh/datamaps
 */
#map-container {    
    align-content: center;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    /* Preserving the container div's aspect ratio (which should be 4:3 for
     * the Datamap US map) uses this slightly bizarre CSS trick, where you make
     * sure the height is 0 and the ratio between width and padding-bottom
     * is your desired aspect ratio. See this pretty good article for details:
     * https://css-tricks.com/aspect-ratio-boxes/
     */
    height: 300px;

    /* My friend Shaun (Carleton CS '02) is even worse than I am at the details of
     * graphic design. So when he wants to make sure the designers don't preserve
     * his color choices, he makes stuff orange to force their hand. I am using
     * orange here both to remind you to change the color, and to make visible the
     * size and aspect ratio of the US map object. */
}

#state-summary {
    float: right;
    width: 40%;
}

.hoverpopup {
    background: #eeeeee;
    border: 1px black solid;
    padding: 5px;
}
