/*Authors : Elliot Hanson and Shreya Nair for CS 257 Webapp assignment */
html{
    font-family:Verdana, Geneva, sans-serif;
}
body {
	background-color: #94b289;
}

.text_color {
 	color: #FFF5EE;
}

.title_heading{
    color: #FFFAF0;
    text-align: center;
    font-weight: normal;
    margin: 20px;
}

/* Navigation bar settings */
.navbar_text_disp {
    display: inline-block;

}
.active {
    background-color: #485643;
    color: #fffcfc;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #687d60;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 100px;
  text-decoration: none;
}

li a:hover {
  background-color: #5c937e;
}

.align_center {
	text-align: center;
}

.padded_text {
    padding-left: 50px;
}

/* Navigation bar settings  end */

/* Boxes for image and text */
#results {
    border: 1px solid #FFFAF0;
    width:90%;
    word-wrap: break-word;
    font-weight: normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#parks_table {
    font-family:Verdana, Geneva, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #FFF5EE;
}

th, td {
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    text-align: center;
    padding-bottom: 15px;
}

td{
    padding-bottom: 20px;
}


.species_box {
    width: 100px;
    height: 50px;
    position: relative;
    border: 3px outset #FFFAF0;
    background-color:#FFFAF0 ;
    text-align: center;
    font-weight: normal;
    display: block;
}

.yose_img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
/* End of css design for the park and img boxes */

/*Search bar */
#search_bar{
    align-self: center;
    font-weight: normal;
    text-align: center;
}

.search_field{
    width: 200px;
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#state_field{
    padding-left: 100px;
}

label{
    color: white;
}

input{
    background-color: #E5E5E5;
    border-radius: 25px;
    width: 200px;
    height: 20px;
}

#state_search, #park_search{
    background-color: #687d60;
    border-radius: 25px;
    height: 35px;
    width: 100px;
    color: #FFF5EE;
    border-color: #FFF5EE;
    border-style: solid;
}

.selector{
    width: 200px;
    word-wrap: break-word;
    text-align: center;
    background-color: #E5E5E5;
    border-radius: 25px;
    height: 25px;
}
/*Search Bar End*/

#state_search:hover, #park_search:hover {
    background-color: #485643;
    box-shadow: 0px 0px 0px transparent;
}
h1{
    color: #FFFAF0;
    text-align: center;
    font-weight: normal;
}

/* Datamaps is Copyright (c) 2012 Mark DiMarco
 * https://github.com/markmarkoh/datamaps
 */
#map-container {    
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    width: 624px;
    padding-bottom: 468px;

}

#state-summary {
    display: inline-block;
    float: left;
    padding-left: 50px;
    width: 300px;
    max-width: 300px;
    word-wrap: break-word;
    color: #FFF5EE;
}

.hoverpopup {
    background: #eeeeee;
    border: 1px white solid;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
}

 body {
    padding-bottom: 50px;
}
