/*Authors : Elliot Hanson and Shreya Nair for CS 257 Webapp assignment */
html{
    font-family:Verdana, Geneva, sans-serif;
}
body {
	background-color: #94b289;
}

.text_color {
 	color: #FFF5EE;
}


/* Navigation bar settings */
.navbar_text_disp {
    display: inline-block;

}
.active {
    background-color: #485643;
    color: #fffcfc;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #687d60;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 100px;
  text-decoration: none;
}

li a:hover {
  background-color: #5c937e;
}

.align_center {
	text-align: center;
}

.padded_text {
    padding-left: 50px;
}

/* Navigation bar settings  end */

.title_heading{
        color: #FFFAF0;
    text-align: center;
    font-weight: normal;
}

/* Boxes for image and text */
#first, #second{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#first, #second{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#wrapper {
    width: 100%;
    height: 75%;
    display: flex;
}
#first {
    height:300px;
    border: 1px solid #FFFAF0;
    float:left;
    width:50%;
    margin: 50px;
    word-wrap: break-word;
    font-weight: normal;
    display: block;

}

#second {
    align-content: center;
    border: 1px solid #FFFAF0;
    float:right;
    width:50%;
    margin: 50px;
}



.species_box {
    width: 100px;
    height: 50px;
    position: relative;
    border: 3px outset #FFFAF0;
    background-color:#FFFAF0 ;
    text-align: center;
    font-weight: normal;
    display: block;
}

.yose_img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
/* End of css design for the park and img boxes */

/*Search bar */
#search_bar{
    align-self: center;
    padding-top: 20px;
    font-weight: normal;
    text-align: center;
}

.search_field{
    width: 200px;
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right:20px;
}

label{
    color: white;
}

input{
    background-color: #E5E5E5;
    border-radius: 25px;
}

#search_button{
    background-color: #E5E5E5;
    border-radius: 25px;
}

.selector{
    width: 200px;
    word-wrap: break-word;
    text-align: center;
    background-color: #E5E5E5;
    border-radius: 25px;
}
/*Search Bar End*/

h1{
    color: #FFFAF0;
    text-align: center;
    font-weight: normal;
}