/*Default Style Start*/
body {
	background-color: #94b289;
}

.title_heading{
	color: #FFFAF0;
    text-align: center;
}

.text_color{
 	color: #FFF5EE;
}
/*Default Style End*/

/*Menu Bar Start*/
li {
    display: inline-block;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    text-align: center;
  background-color: #687d60;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 100px;
  text-decoration: none;
}

li a:hover {
  background-color: lightblue;
}
/*Menu Bar End*/

#usa_collage{
    display: inline-block;
    max-width: 40%;  
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px
}

h3{
    color: #FFFAF0;
    text-align: center;
}

.description_table{
    display: inline-block;
    padding: 5px; 
    border: 2px solid floralwhite;
    vertical-align: top;
    width: 500px;

}


.description_text{
    color: floralwhite;
    word-wrap: break-word;
}

div{
    padding-left: 40px;
    padding-right: 40px;
}


