
<!DOCTYPE html>
<html lang="en">
<!--Elliot and Shreya, Mockup 2 : About Page -->
<head>
    <meta charset="UTF-8">
    <title >About : National Park Biodata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}" type="text/css" />
    <h1 class = "title_heading"> National Park Biodata</h1>

    <ul class="navbar">
            <li class="navbar_text_disp"><a href="/">Home</a></li>
            <li class="active navbar_text_disp"><a href="/about">About</a></li>
            <li class="navbar_text_disp"><a href="/park_search">Parks</a></li>
            <li class="navbar_text_disp"><a href="/species_search">Species</a></li>
    </ul>
</head>

<body>
	<h1 class="heading_about align_center" > About the Creators </h1>
	<img src= "{{ url_for('static', filename='elliot_profile.jpg') }}" class = "pfp">
	<p class= "text_color align_center"> Elliot Hanson is a Junior Biology major at Carleton College. He has a vested interest in Computer Science as well. His favorite chocolates are 80% and Salted Caramel </p>
	<img src= "{{ url_for('static', filename='shreya_profile.jpg') }}" class = "pfp">
	<p class = "text_color align_center"> Shreya Nair is a Sophomore prospective Computer Science and Biology at Carleton College. Her favorite chocolate is toblerone, she also loves lindt. </p>
    <img src="{{ url_for('static', filename='elliot_and_shreya.jpg') }}" class="big_img">
    <p class="text_color align_center"> Elliot and Shreya during a coding session for the mockups of this website,
        situated in Olin 310, where great things happen.</p> <br>
<br>
<br>

<h2 class="heading_about align_center" > Data Sources </h2>
    <p class= "text_color align_center"><a href = "https://www.kaggle.com/nationalparkservice/park-biodiversity?select=species.csv">Kaggle Datasource</a>  : This is a Kaggle Database that we used to download our working data from. </p>
    <p class= "text_color align_center"><a href = "https://irma.nps.gov/NPSpecies">National Parks Datasource</a>  : This leads to the National Parks website that allows you to look up species</p>
<br>
<br>			
</body>
</html>
