<!DOCTYPE html>
<html lang="en">
<!--Elliot and Shreya, Help Page -->
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='help.css') }}" type="text/css" />
    <!--<script type="text/javascript" src="{{ url_for('static', filename='species_search.js') }}"></script> -->
    <h1 class = "title_heading"> National Park Biodata </h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/park_search">Parks</a></li>
        <li><a href="/species_search">Species</a></li>
        <li class ="active"><a href="/help">Help</a> </li>
    </ul>
</head>

<body>
    <h1 class = "title_heading align center text-color">Help</h1>

    <p> REQUEST : /home <br> GET parameter</p>
</body>
</html>