<!DOCTYPE html>
<html lang="en">
<!--Elliot and Shreya, Mockup 1 : Home Page -->
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'home.css')}}" type="text/css" />
    <h1 class = "title_heading"> National Park Biodata</h1>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/park_search">Parks</a></li>
        <li><a href="/species_search">Species</a></li>
    </ul>
</head>

<body>
    <br>
    <div>
    <table class = "description_table">
        <tbody>
            <tr><th><h3>Description</h3></th></tr>
            <tr>
                <th>
                    <p id = "description_text">
                        Our website has biodiversity statistics on 56 unique national parks
                        situatied in the United States of America. To begin browsing
                        information on these parks go to the parks tab. If you have a
                        specific organism you want to search for, go to the species tab.
                    </p>
                </th>
            </tr>
        </tbody>
    </table>

    <img src="{{ url_for('static', filename= 'usa_collage.jpg')}}" id = "usa_collage">
    <br>
    </div>
<div class="bio_now text_color align_center padded_text">
    <h4>State Park Biodiversity Now</h4>
        <p><a href="https://www.sciencedaily.com/releases/2012/08/120807161035.htm"> Can nature parks save biodiversity?</a> </p>
        <p><a href="https://mountainjournal.org/clash--between-cattle-and-elk-at-point-reyes-brings-national-park-values-into-focus">Surrendering Nature To Politics: Are US National Parks In Retreat?</a> </p>
    </div>
</body>
</html>