<!DOCTYPE html>
<html lang="en">
<!--Elliot and Shreya, Mockup 3 : Parks Page -->
    <head>
        <meta charset="UTF-8">
        <title>Park Data : National Park Biodata</title>

        <!-- USA Map script
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="js/datamaps.usa.min.js"></script>
        <script src="{{ url_for('static', filename='map.js') }}"></script> -->
        <!-- end of usa map script -->
        <script type="text/javascript" src="{{ url_for('static', filename='park_search.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='park_search.css') }}" type="text/css"/>
        <h1 class = "title_heading"> National Park Biodata</h1>

        <ul class="navbar">
            <li class="navbar_text_disp"><a href="/">Home</a></li>
            <li class="navbar_text_disp"><a href="/about">About</a></li>
            <li class="active navbar_text_disp"><a href="/park_search">Parks</a></li>
            <li class="navbar_text_disp"><a href="/species_search">Species</a></li>
    </ul>
        <link rel="stylesheet" href="../static/park_search.css">
    </head>
    
    <body>
    <h1 class = "page_header align_center text_color">Park Search</h1>
    <div id = "search_bar">
<!--    <div class = "search_field">-->
<!--        <label for="park_code_selector">Park Code</label><br>-->
<!--        <select class = "selector" id="park_code_selector"></select>-->
<!--    </div>-->
    <div class = "search_field">
        <label for="park_name_selector">Park Name</label><br>
        <select class = "selector" id="park_name_selector"></select>
    </div>
    <div class = "search_field">
        <label for="state_selector">State</label><br>
        <select class = "selector" id="state_selector"></select>
        <!--<input type="text" id="state" park_state="state">-->
    </div>
    <input id = "search_button" type="submit" value="Search">
    </div>

     <div id="wrapper">
        <div id="first">
            <table id="parks_table">
<!--            <tr>-->
<!--                <th>Park Code </th>-->
<!--                <th>Park Name</th>-->
<!--                <th>State</th>-->
<!--                <th>Acres</th>-->
<!--                <th>Longitude</th>-->
<!--                <th>Latitude</th>-->
<!--            </tr>-->
            </table>
            <h2 class="align_center text_color">Park Information</h2>
            <ul>
                <li class="padded_text text_color"> Name : Yosemite National Parks</li> <br>
                <li class="padded_text text_color"> Park ID : YOSE </li> <br>
                <li class="padded_text text_color"> State : California</li><br>
                <li class="padded_text text_color"> Acres : 761266</li><br>
                <li class="padded_text text_color"> Latitude : 37.83 </li><br>
                <li class="padded_text text_color"> Longitude : -119.5 </li><br>
            </ul>
            <div class="species_box"> <a href="/species_search"> Species Information</a> </div>
        </div>
        <div id="second">
             <div id="map-container"></div>
            <!--<img src= "{{ url_for('static', filename= 'usa-yosemite.jpg')}}" class = "yose_img"
            title="Yosemite National Park"> -->
        </div>

     </div>



    </body>
</html>