<!DOCTYPE html>
<html lang="en">
<!--Elliot and Shreya : Parks Page -->
    <head>
        <meta charset="UTF-8">
        <title>Park Data : National Park Biodata</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="{{ url_for('static', filename='datamaps.usa.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='park_search.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='park_search.css') }}" type="text/css"/>
        <h1 class = "title_heading"> National Park Biodata</h1>

        <ul class="navbar">
            <li class="navbar_text_disp"><a href="/">Home</a></li>
            <li class="active navbar_text_disp"><a href="/park_search">Parks</a></li>
            <li class="navbar_text_disp"><a href="/species_search">Species</a></li>
            <li class="navbar_text_disp"><a href="/about">About</a></li>
    </ul>
        <link rel="stylesheet" href="../static/park_search.css">
    </head>
    
    <body>
    <h1 class = "page_header align_center text_color">Park Search</h1>
    <div id = "search_bar">
    <div class = "search_field" id = "park_field">
        <label for="park_name_selector">Park Name</label><br>
        <select class = "selector" id="park_name_selector"></select>
    </div>
        <input id = "park_search" type="submit" value="Search">
    <div class = "search_field" id = "state_field">
        <label for="state_selector">State</label><br>
        <select class = "selector" id="state_selector"></select>
    </div>
        <input id = "state_search" type="submit" value="Search">
    </div>
<!--    <div id="state-summary"></div>-->
    <div id="map-container"></div>
    <div id="results">
        <h2 class="align_center text_color">Park Information</h2>
        <table id="parks_table">
        </table>
    </div>

    </body>

</html>