<!DOCTYPE html>
<html lang="en">
<!--Elliot and Shreya : Species Page -->
<head>
    <meta charset="UTF-8">
    <title>Species : National Park Biodata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='species_search.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ url_for('static', filename='species_search.js') }}"></script>
    <h1 class = "title_heading"> National Park Biodata</h1>
    <ul class="navbar">
            <li class="navbar_text_disp"><a href="/">Home</a></li>
            <li class="navbar_text_disp"><a href="/about">About</a></li>
            <li class="navbar_text_disp"><a href="/park_search">Parks</a></li>
            <li class="active navbar_text_disp"><a href="/species_search">Species</a></li>

    </ul>
</head>

<body>
    <h1 class = "title_heading align center text-color">Species Search</h1>
    <div id = "search_bar">    
    <div class = "search_field">
        <label for="species_name">Scientific/Common Name</label><br>
        <input type="text" id="species_name"  placeholder="--">
    </div>
    <div class = "search_field">
         <label for="category_selector">Category</label><br>
        <select class = "selector" id="category_selector"></select>
    </div>
    <div class = "search_field">
        <label for="order">Order</label><br>
        <input type="text" id="order"  placeholder="--">
    </div>
    <div class = "search_field">
        <label for="family">Family</label><br>
        <input type="text" id="family"  placeholder="--">
    </div>
    <div class = "search_field">
        <label for="park_selector">Park</label><br>
        <select class = "selector" id="park_selector"></select>
    </div>
    <div class = "search_field">
        <label for="state_selector">State</label><br>
        <select class = "selector" id="state_selector"></select>
    </div>
    </div>
    <br>
    <div id = "search_button_div">
        <input id = "search_button" type="submit" value="Search">
    </div>
    <br>
    <img src="{{ url_for('static', filename='usa-yosemite.jpg') }}" id = "usa_collage">
    <br>
    <table id = "species_table">
    </table>
    </body>
</html>