<!DOCTYPE html>
<html lang="en">
<!--Elliot and Shreya, Mockup 4 : Species Page -->
<head>
    <meta charset="UTF-8">
    <title>Species</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='species_search.css') }}" type="text/css" />
    <h1 class = "title_heading"> National Park Biodata</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/park_search">Parks</a></li>
        <li class = "active"><a href="/species_search">Species</a></li>
    </ul>
</head>

<body>
    <h1 class = "title_heading align center text-color">Species Search</h1>
    <div id = "search_bar">    
    <div class = "search_field">
        <label for="name">Scientific/Common Name</label><br>
        <input type="text" id="name" species_name="name">
    </div>
    <div class = "search_field">
        <label for="category">Category</label><br>
        <input type="text" id="category" species_category="category">
    </div>
    <div class = "search_field">
        <label for="family">Family</label><br>
        <input type="text" id="family" species_category="family">
    </div>
    <div class = "search_field">
        <label for="park">Park</label><br>
        <input type="text" id="park" park="park">
    </div>
    <div class = "search_field">
        <label for="state">State</label><br>
        <input type="text" id="state" state="state">
    </div>
    <input id = "search_button" type="submit" value="Search">
    </div>
    <br><br>
    <img src="{{ url_for('static', filename='usa-yosemite.jpg') }}" id = "usa_collage">
    <br>
    <table id = "species_table">
        <tbody>
            <tr><th>Common Name</th>
                <th>Scientific Name</th>
                <th>Category</th>
                <th>Order</th>
                <th>Family</th>
                <th>Native to</th>
                <th>Non-Native</th></tr>
            <tr><th>Sierra Nevada Bighorn Sheep</th>
                <th>Ovis canadensis sierrae</th>
                <th>Mammal</th>
                <th>Artiodactyla</th>
                <th>Bovidae</th>
                <th>YOSE</th></tr>
            <tr><th>Chestnut-Collared Longspur</th>
                <th>Calcarius ornatus</th>
                <th>Bird</th>
                <th>Passeriformes</th>
                <th>Calcariidae</th>
                <th></th>
                <th>YOSE</th></tr>
                
            
        </tbody>
    </table>
